# Игнорировать файлы, созданные Gradle
.gradle/
build/

# Локальные настройки SDK и пути к Android SDK
local.properties

# Файлы, созданные Android Studio
.idea/
*.iml

# Сборки APK, AAB и временные файлы
*.apk
*.ap_
*.aab

# Игнорировать сгенерированные файлы и кэш
captures/
.externalNativeBuild/
generated/

# Игнорировать временные файлы операционной системы
.DS_Store


.env